.black-background {
  /* background-color: black; */
  /* color: #8892b0; */
  /* background-color: #e8ecf1 ; */
background-color: #f8f9f8;
  color: black;
  font-size: 20px;
  max-width: 100vw;
  min-height: 100vh;
  z-index: -99;
  padding: 5% 15%;
}
.black-background-header p {
  font-size: 22px;
  margin-bottom: 2rem;
}
.black-background-header {
  position: relative;
  font-weight: 600;
}
.black-background-line {
  min-height: 2px;
  width: 100%;
  position: absolute;
  background-color: var(--background-green-color);
  position: absolute;
  bottom: 3;
}
.about-me-points {
  padding-top: 60px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-me-details {
  display: flex;
  height: 70%;
  overflow: hidden;
}
.about-me-details img {
}
.skill-logos {
  padding: 40px 20% 0 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.skill-logos i {
  font-size: 35px;
  color: #086f57;
}

@media screen and (max-width: 760px) {
  .about-me-details {
    flex-direction: column-reverse;
    gap: 20px;
    margin: 20px 0;
  }
  .black-background {
    padding: 30px;
  }
  .skill-logos {
    padding: 10px 0;
  }
  .about-me-points {
    padding: 0;
  }
}
