.project-container {
  /* color: white;
  /* height: 100%; */
  color: black;
  min-height: fit-content;
  /* background: rgba(8, 8, 8, 0.845); */
  border-radius: 4px;
  position: relative;
  aspect-ratio: 6/3;
}
.project-image-container {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  opacity: 0.1;
  z-index: 2;
  pointer-events: none;
}
.project-image-container img {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.project-container-details {
  padding: 5% 10% 0 5%;
  z-index: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  color: black;
  /* justify-content: space-evenly; */
}
.project-container-details p:nth-child(1) {
  color: var(--background--green-black);
  font-size: 13px;
  margin-bottom: 10px;
}
.project-container-details p:nth-child(2) {

  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 600;
}
.project-container-details p:nth-child(3) {
 
  font-size: 16px;
  margin-bottom: 40px;
}
.project-container-details p:nth-child(4) {

  font-size: 13px;
  margin-bottom: 18px;
}

.project-button-list {
  padding-bottom: 18px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.project-button-list i,
.project-button-list img {
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .project-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 2rem;
    background-color: var(--backgroung--light-grey);
  }
  .project-image-container {
    opacity: 1;
    z-index: 2;
    width: 50%;
    padding: 5% 0;
    height: fit-content;
    pointer-events: none;
  }
  .project-image-container img {
    border-radius: 4px;
    height: 80%;
    width: 100%;
    z-index: 1;
  }
  .project-container-details {
    width: 70%;
    position: absolute;
    left: 0%;
    height: 100%;
  }
  .project-container-details p:nth-child(3) {
    padding: 30px 10px;
    background-color: white;
    border-radius: 4px;
  }
  .project-container-inverted {
    flex-direction: row;
  }
  .project-container-inverted .project-container-details {
    text-align: left;
    left: 30%;
  }
  .project-container-inverted .project-container-details p {
    text-align: right;
  }
  .project-container-inverted .project-container-details p:nth-child(3){
    text-align: left;
    line-height: 1.3;
    padding: 20px 30% 20px 10px ;
  }
  .project-container-inverted .project-container-details .project-button-list{
    justify-content: flex-end;
  }
}
