.card-container{
    width: 100%;
    min-height: 200px;
    border: 3px solid black;
    transition: all .3s ease;
    cursor: pointer;
}
.card-container:hover{
    transform: scale(1.05);
}
.card-heading{
    background-color: crimson;
    color: white;
}
.card-rows{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.card-row{
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
}