.journey-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.journey-page > h1{
 width: 100%;
 text-align: center;
}

.journey-container {
  display: flex;
  gap: 100px;
}
.journey-dialog{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 250px;
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black;
  padding: 20px 0;
  gap: 30px;
}


.journey-dialog-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.journey-dialog-images img {
  width: 50%;
  padding: 10px 2.5%;
  align-self: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.journey-dialog img:hover {
  transform: scale(1.1);
}
.journey-dialog:nth-child(1),
.journey-dialog:nth-child(2) {
  position: relative;
}
.journey-dialog:nth-child(1)::after,
.journey-dialog:nth-child(2)::after {
  content: url("https://img.icons8.com/ios/100/long-arrow-right--v1.png");
  position: absolute;
  height: 100%;
  width: 100px;
  right: -100px;
  top: 50%;
}
.journey-application-container {
  width: 650px;
  position: relative;
}
.journey-mid-container span{
  min-height: 100px;

}
.card-stuff-img1{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 200px;
    width: 280px;
}
.card-stuff-img1::after {
  content: ""; /* Empty content */
  background-image: url("https://img.icons8.com/ios/100/long-arrow-right--v1.png"); /* Background image */
  position: absolute;
  width: 60px;
  height: 60px;
  right: 40%;
  top: 200px;
  transform: rotate(90deg);
  background-size: cover; /* Adjust image size to fit within the containing element */
  background-repeat: no-repeat;

}
.card-stuff-img3::after {
  content: ""; /* Empty content */
  background-image: url("https://img.icons8.com/ios/100/long-arrow-right--v1.png"); /* Background image */
  position: absolute;
  width: 65px;
  height: 65px;
  top: 40%;
  left: -65px;
  transform: rotate(-180deg);
  background-size: cover; /* Adjust image size to fit within the containing element */
  background-repeat: no-repeat;

}
.card-stuff-img2{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 200px;
    width: 280px;

}
.card-stuff-img3{
    position: absolute;
    right: 10px;
    top: 230px;
    height: 200px;
    width: 280px;

} 
.card-stuff-img4 {
  position: absolute;
  top: 270px;
  left: 10px;
  height: 200px;
  width: 280px;
}
