.journey-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.journey-page > h1 {
  width: 100%;
  text-align: center;
}

.journey-container {
  display: flex;
  gap: 100px;
}
.journey-dialog {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  height: auto;
  width: 250px;
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black;
  padding: 20px 0;
  gap: 50px;
}

.journey-dialog-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.journey-dialog-images img {
  width: 50%;
  padding: 10px 2.5%;
  align-self: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.journey-dialog img:hover {
  transform: scale(1.1);
}
.journey-dialog:nth-child(1),
.journey-dialog:nth-child(2) {
  position: relative;
}
.journey-dialog:nth-child(1)::after,
.journey-dialog:nth-child(2)::after {
  content: url("https://img.icons8.com/ios/100/long-arrow-right--v1.png");
  position: absolute;
  height: 100%;
  width: 100px;
  right: -100px;
  top: 50%;
}
.journey-application-container {
  width: 650px;
  position: relative;
}

.journey-dialog-images-mid-top, .journey-dialog-images-mid-bottom{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px 0;
  margin: 20px;
  font-weight: 600;
}
.card-stuff-img1 {
  position: relative;
  width: 250px;
}

.card-stuff-img2 {
  height: 200px;
  width: 250px;
}
.card-stuff-img3 {
  height: 200px;
  width: 250px;
}
.card-stuff-img4 {
  height: 150px;
  width: 250px;
}

.card-dailog-left,
.card-dailog-right {
  padding: 0 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-dailog-left img {
  width: 62px;
  height: 65px; 
  background-size: cover; /* Adjust image size to fit within the containing element */
  background-repeat: no-repeat;
}
.card-dailog-right{
  justify-content: space-between;
}

.card-dailog-bottom{
  display: flex;
  gap: 60px;
}